{:server   {:port #profile {:dev     8080
                            :default 8080}
            :host #profile {:dev     "localhost"
                            :default "0.0.0.0"}}
 :dynamodb {:table-name #profile {:dev     "items-dev"
                                  :default #env DYNAMODB_TABLE_NAME}
            :endpoint   #profile {:dev     "http://localhost:8000"
                                  :default nil}
            :region     #profile {:dev     "us-east-1"
                                  :default nil}}}
